{% extends 'base.html' %}

{% block content %}
<div class="container all-center">
    <h3>Informe sua nova senha.</h3>
    <form action="/api/v1/users/reset_password_confirm/" method="post" onsubmit="validaSenha()" role="form">
        {% csrf_token %}
        <input name="uid" type="hidden" value="{{uid}}">
        <input name="token" type="hidden" value="{{token}}">
        <input class="input-password" name="new_password" placeholder="Digite aqui!" type="password"><br>
        <input class="form-button" id="submitForm" type="submit">

        <script>
            const validaSenha = () => {
                const senha = document.getElementsByName('new_password')[0].value;
                if (senha.length < 8) {
                    alert('Esta senha é muito curta. Ela precisa conter pelo menos 8 caracteres.')
                    return false
                }
                return true
            }
        </script>
    </form>
</div>
{% endblock %}
